body {
  padding: 100px 0px;
}

.container {
  max-width: 1200px;
  padding: 0px 20px;
}

.demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.control-panel {
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;

  &__label {
    display: flex;
    width: fit-content;
    margin-top: 5px;
  }

  &__name {
    width: 100px;
  }

  &__input {
    height: 20px;
  }
}

.demo-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60%;
  max-width: 100%;
  height: 300px;
}
