mixin demo-block()
  .demo.js-demo
    .control-panel.js-control-panel
      label.control-panel__label
        span.control-panel__name Min
        input.control-panel__input.js-control-panel__input(type='number' name='min')
      label.control-panel__label
        span.control-panel__name Max
        input.control-panel__input.js-control-panel__input(type='number' name='max')
      label.control-panel__label
        span.control-panel__name From
        input.control-panel__input.js-control-panel__input(type='number' name='from')
      label.control-panel__label
        span.control-panel__name To
        input.control-panel__input.js-control-panel__input(type='number' name='to')
      label.control-panel__label
        span.control-panel__name Step
        input.control-panel__input.js-control-panel__input(type='number' name='step')
      label.control-panel__label
        span.control-panel__name Range
        input.control-panel__input.js-control-panel__input(type='checkbox' name='range')
      label.control-panel__label
        span.control-panel__name Tip
        input.control-panel__input.js-control-panel__input(type='checkbox' name='tip')
      label.control-panel__label
        span.control-panel__name Progress
        input.control-panel__input.js-control-panel__input(type='checkbox' name='progress')
      label.control-panel__label
        span.control-panel__name Scale
        input.control-panel__input.js-control-panel__input(type='checkbox' name='scale')
      label.control-panel__label
        span.control-panel__name ScaleDestiny
        input.control-panel__input.js-control-panel__input(type='number' name='scaleDestiny')
      label.control-panel__label
        span.control-panel__name Horizontal
        input.control-panel__input.js-control-panel__input(type='checkbox' name='horizontal')
    .demo-slider.js-demo-slider