.jq-slider{
  width: 100%;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;

  &__handle{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background: black;
    box-sizing: border-box;
  }
}